.tablepress {
	color: rgb(155,78,1);
}

.tablepress .odd td {
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
}

.tablepress .even td {
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
}

.tablepress .row-hover tr:hover td {
	background-color: rgb(0,0,0);
	color: rgb(255,255,255);
}